:host {
  display: contents;
}

.stage {
  container-type: inline-size;
  width: 75%;
  position: relative;
  background-image: url('/assets/img/terry-stage-base-layer.png');
  background-size: 290%;
}

.misc-layer {
  bottom: 24%;
  height: 40%;
  background-image: url('/assets/img/terry-stage-misc.png');
  background-size: 270%;
}
